.food-item {
  width: 100%;
  min-height: 450px;
  margin: auto;
  border-radius: 15px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-item-image {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0px 0px;
}
.food-item-info {
  padding: 20px;
}
.food-item-name {
  margin-bottom: 10px;
}

.food-item-name p {
  font-size: 20px;
  font-weight: 500;
}

.food-item-desc {
  color: #676767;
  font-size: 12px;
}
.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50px;
  bottom: 0px;
}

.food-item-price button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.food-item-price .btn {
  border-radius: 50px;
  padding: 10px 15px;
}

.food-item-counter {
  /* border: 1px solid; */
  width: 140px;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  /* gap: 15px; */
  border-radius: 50px;
  /* background-color: rgb(244, 231, 231); */
}

.food-item-counter p{
  font-size: 16px;
}